dist/
node_modules/
out/
# We test against `vscode-matlab`
test/vscode-matlab/data/
test/vscode-matlab/samples/
test/vscode-matlab/*.tgz
# We target VS Code
.vscode-test/
.vscode-test-web/
*.tgz
*.vsix
# We use Gitlab CI
cache/
builds/
