dist/
node_modules/
out/
test/extensions/vscode-matlab/*
# We test against `vscode-matlab`
test/extensions/vscode-matlab/data/
test/extensions/vscode-matlab/samples/
test/extensions/vscode-matlab/*.tgz
# We test with `vscode-typescript`
test/extensions/vscode-typescript/data/
test/extensions/vscode-typescript/samples/
test/extensions/vscode-typescript/*.tgz
# We target VS Code
.vscode-test/
.vscode-test-web/
vscode-web-insider-*-tmp
*.tgz
*.vsix
