dist/
node_modules/
out/
# Mocha hotfix for extension submodules
test/extensions/*/_mocha
test/extensions/*/_mocha.*
test/extensions/*/mocha
test/extensions/*/mocha.*
test/extensions/*/vscode-test-web
test/extensions/*/vscode-test-web.*
# Performance hotfix for matlab submodule
test/extensions/vscode-matlab/data/
test/extensions/vscode-matlab/samples/
test/extensions/vscode-matlab/*.tgz
# We target VS Code
.vscode-test/
.vscode-test-web/
vscode-web-insider-*-tmp
*.tgz
*.vsix
