.vscode/
.vscode-test/
.vscode-test-web/
.github/
assets/
builds/
out/
scripts/
src/
test/
*.tgz
*.vsix
**/*.pegjs
.editorconfig
.eslintignore
.gitattributes
.gitconfig
.gitignore
.gitmodules
.prettierrc.json
.travis.yml
.eslintignore
.eslintrc.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
tsconfig.json
tsconfig.*.json
vscode-web-insider-*-tmp
webpack.config.js
webpack.config.*.*.js
