.vscode/
.vscode-test/
.github/
build/
out/test/
src/
test/
assets/
*.tgz
*.vsix
**/*.pegjs
.editorconfig
.eslintignore
.gitattributes
.gitignore
.gitmodules
.travis.yml
.eslintignore
.eslintrc.json
.mocharc.json
CODE_OF_CONDUCT.md
CONTRIBUTING.md
tsconfig.json
